In [1]:
# -*- encoding:utf-8 -*-

from sqlalchemy import (Column, String, Text, ForeignKey, \
                create_engine, MetaData, DECIMAL, DATETIME, exc, event, Index)
from sqlalchemy.schema import UniqueConstraint
from sqlalchemy.orm import (sessionmaker, relationship, scoped_session)
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.dialects.mysql import INTEGER as Integer
from datetime import datetime
import os

username = os.getenv('DB_USER_NAME')
password=os.getenv('DB_PASSWORD')
host=os.getenv('DB_HOST')
port='3306'
database=os.getenv('DB_NAME')
db_url = f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"

# DB接続するためのEngineインスタンス
engine = create_engine(db_url, echo=False)

Session = scoped_session(sessionmaker(autocommit=False, autoflush=False, bind=engine))

metadata = MetaData()
Base = declarative_base()

C:\Users\tsc95\AppData\Local\Temp\ipykernel_20428\4282987836.py:25: MovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, create_engine, MetaData, DATETIME, String,Date,Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
from pathlib import Path
import os
import datetime 
import pandas as pd

In [3]:
class Schedule(Base):
    __tablename__ = "schedule"  # テーブル名を指定
    __table_args__ = {"mysql_engine": "InnoDB"}

    schedule_id = Column('id',Integer, primary_key=True, autoincrement=True)
    prefecture = Column('都道府県',String(255))
    coverage_date = Column('イベント日',Date, nullable=False)
    day_of_week = Column('曜日',String(1), nullable=False)
    parlor_name = Column('店舗名',String(255), nullable=False)
    coverage_name = Column('取材名',String(255), nullable=False)
    medium_name = Column('媒体名',String(255))
    schedule_rank = Column('取材ランク',String(1))
    created = Column("取得時間", DATETIME, default=datetime.datetime.now, nullable=False)
    def __init__(self):
        now = datetime.datetime.now()
        self.created = now

    def record_detail(self):  # フルネームを返すメソッド
        return f"{self.coverage_date} {self.parlor_name} {self.coverage_name} "

Base.metadata.create_all(bind=engine)

In [3]:
from sqlalchemy.orm import sessionmaker
SessionClass = sessionmaker(engine)
session = SessionClass()

In [12]:
df = pd.read_csv(r'csv\test.csv')
df

   都道府県       イベント日 曜日             店舗名        取材名            媒体名 取材ランク
0   石川県  2023-03-14  火       クァトロブーム金沢  chiiips取材  ChiiiPS(チップス)     ・
1   石川県  2023-03-14  火  DSG WORLD 御経塚店  chiiips取材  ChiiiPS(チップス)     ・
2   石川県  2023-03-14  火     DSGアリーナ野々市店  chiiips取材  ChiiiPS(チップス)     ・
3   石川県  2023-03-14  火  DSG MEGA WORLD  chiiips取材  ChiiiPS(チップス)     ・
4   石川県  2023-03-15  水   DSG MEGA CITY  chiiips取材  ChiiiPS(チップス)     ・
5   石川県  2023-03-15  水     DSGアリーナ 七尾店  chiiips取材  ChiiiPS(チップス)     ・
6   石川県  2023-03-15  水        ホームラン金沢店  chiiips取材  ChiiiPS(チップス)     ・
7   石川県  2023-03-15  水   ホームランGOGO野々市店  chiiips取材  ChiiiPS(チップス)     ・
8   石川県  2023-03-16  木  DSG WORLD 御経塚店  chiiips取材  ChiiiPS(チップス)     ・
9   石川県  2023-03-16  木  DSG MEGA WORLD  chiiips取材  ChiiiPS(チップス)     ・
10  石川県  2023-03-16  木       APOLLO長田店  chiiips取材  ChiiiPS(チップス)     ・

In [8]:
for i,row in df.iterrows():
    schedule = Schedule()
    print(i,row)
    schedule.prefecture = row['都道府県']
    schedule.coverage_date = row['イベント日']
    schedule.day_of_week = row['曜日']
    schedule.parlor_name = row['店舗名']
    schedule.coverage_name = row['取材名']
    schedule.medium_name = row['媒体名']
    schedule.schedule_rank = row['取材ランク']
    session.add(schedule)
    session.commit()

NameError: name 'df' is not defined

In [4]:
# Sessionの作成
session = scoped_session(sessionmaker(autocommit = False,autoflush = False,bind = engine))
# modelで使用する
Base = declarative_base()
Base.query = session.query_property()

In [9]:
from sqlalchemy import create_engine, text
query = "select * from schedule where 店舗名 = 'クァトロブーム金沢'"
df = pd.read_sql_query(sql=text(query), con=engine.connect())
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\base.py", line 1808, in _execute_context
    )
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\default.py", line 1203, in _init_compiled
    self.execution_options = execution_options
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\default.py", line 1530, in create_cursor
    if self.compiled.postfetch_lastrowid:
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\default.py", line 1533, in create_default_cursor
    )
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\pool\base.py", line 1494, in cursor
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\mysql\connector\connection_cext.py", line 675, in cursor
    raise OperationalError("MySQL Connection not available.")
mysql.connector.errors.OperationalError: MySQL Connection not available.

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\tsc95\AppData\Local\Temp\ipykernel_21600\3434158052.py", line 3, in <module>
    df = pd.read_sql_query(sql=text(query), con=engine.connect())
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\pandas\io\sql.py", line 397, in read_sql_query
    return pandas_sql.read_query(
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\pandas\io\sql.py", line 1560, in read_query
    result = self.execute(*args)
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\pandas\io\sql.py", line 1405, in execute
    return self.connectable.execution_options().execute(*args, **kwargs)
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\base.py", line 1414, in execute
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\sql\elements.py", line 486, in _execute_on_connection
    """
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\base.py", line 1638, in _execute_clauseelement
    self,
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\base.py", line 1814, in _execute_context
    self._nested_transaction
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\base.py", line 2326, in _handle_dbapi_exception
    calling the :meth:`_engine.Connection.begin` method of
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\base.py", line 1808, in _execute_context
    )
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\default.py", line 1203, in _init_compiled
    self.execution_options = execution_options
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\default.py", line 1530, in create_cursor
    if self.compiled.postfetch_lastrowid:
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\engine\default.py", line 1533, in create_default_cursor
    )
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\sqlalchemy\pool\base.py", line 1494, in cursor
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\mysql\connector\connection_cext.py", line 675, in cursor
    raise OperationalError("MySQL Connection not available.")
sqlalchemy.exc.OperationalError: (mysql.connector.errors.OperationalError) MySQL Connection not available.
[SQL: select * from schedule where 店舗名 = 'クァトロブーム金沢']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\ultratb.py", line 1030, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\ultratb.py", line 960, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\ultratb.py", line 870, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\IPython\core\ultratb.py", line 704, in lines
    return self._sd.lines
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\stack_data\core.py", line 734, in lines
    pieces = self.included_pieces
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\stack_data\core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\stack_data\utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\stack_data\core.py", line 660, in executing_piece
    return only(
  File "c:\Users\tsc95\Desktop\syuzai_map_django_site\venv\lib\site-packages\executing\executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [5]:
class Pledge(Base):
    __tablename__ = "pledge"  # テーブル名を指定
    __table_args__ = {"mysql_engine": "InnoDB"}

    pledge_id = Column('id',Integer, primary_key=True, autoincrement=True)
    coverage_name = Column('取材名',String(255), nullable=False)
    medium_name = Column('媒体名',String(255))
    pledge_content = Column('公約内容',String(255), nullable=True)
    created = Column("取得時間", DATETIME, default=datetime.datetime.now, nullable=False)
    def __init__(self):
        now = datetime.datetime.now()
        self.created = now

    def record_detail(self):  # フルネームを返すメソッド
        return f"{self.coverage_name} {self.coverage_name} "

Base.metadata.create_all(bind=engine)

In [15]:

pledge_df = pd.read_csv(r'csv\取材公約用マスター.csv')
pledge_df

                      取材名       媒体名            公約内容
0                 ｙｔｒ来店実践  SEVENSTV            来店実践
1                   Ａレポート       アツ姫      Aタイプに高設定投入
2           黒バラの極意(来店ver)  ジャンバリ.TV             NaN
3                  鮮魚レポート      アメスロ             NaN
4         魔法少女レポート スロット取材      爆ガチ！  まどかマギカシリーズが狙い目
..                    ...       ...             ...
752               AceOVER       アツ姫             NaN
753           APチャンネル来店収録   APチャンネル             NaN
754             APチャンネル来店   APチャンネル             NaN
755  1日回胴録ハンチョウ石神収録 ガット石神     1GAME            来店実践
756              1Punch取材       アツ姫             NaN

[757 rows x 3 columns]

In [ ]:
for i,row in pledge_df.iterrows():
    pledge = Pledge()
    print(i,row)
    #break
    pledge.coverage_name = row['取材名']
    pledge.medium_name = row['媒体名']
    pledge.pledge_content = row['公約内容']
    session.add(pledge)
    session.commit()

In [10]:
import numpy as np
convert_parlar_name_df = pd.read_csv(r'csv\店舗名変換テーブル.csv')
convert_parlar_name_df = convert_parlar_name_df.replace([np.nan], [None])
convert_parlar_name_df

,都道府県,店舗kintone,shop_id,ホールナビ店舗名,DMM店舗名,アナスロ店舗名,緯度,経度,住所
0,北海道,P01378,1378,アミューズメントパーラー吉兆,アミューズメントパーラー吉兆,アミューズメントパーラー吉兆,43.085828,141.514724,北海道江別市大麻泉町47-37
1,北海道,P01582,1582,ひまわり音更店,音更ひまわり,ひまわり音更店,42.961369,143.207331,北海道河東郡音更町木野大通東13丁目1番21
2,北海道,P01351,13160,EBH,EBH,EBH,43.106287,141.29282,北海道札幌市西区発寒15条4-13-1
3,茨城県,P02562,2562,キコーナ水戸駅南店,キコーナ水戸駅南店,キコーナ水戸駅南店,36.365522,140.47701,茨城県水戸市城南1-4-1
4,神奈川県,P04933,4933,ピーズ・タウン桜ヶ丘,P’Stown桜ヶ丘,ピーズ・タウン桜ヶ丘,35.451103,139.465162,神奈川県大和市福田1-6-10
...,...,...,...,...,...,...,...,...,...
2352,東京都,P00363,363,楽園渋谷駅前店,楽園渋谷駅前店,楽園渋谷駅前店,35.658285,139.6998,東京都渋谷区道玄坂1-3-1
2353,山梨県,P12714,13138,マルハン甲府店,マルハン甲府店,マルハン甲府店,35.631724,138.553588,山梨県甲府市国母8-20-10
2354,東京都,P12738,13170,メッセ西荻窪店,メッセ西荻窪店,メッセ西荻窪店,35.703498,139.60092,東京都杉並区西荻南3-14-7
2355,埼玉県,P12792,13227,マルキ戸田店,マルキ戸田店,マルキ戸田店,None,None,埼玉県戸田市美女木東1-3-2
2356,長野県,P12753,13185,Dステーション上田店,D’STATION上田店,Dステーション上田店,None,None,長野県上田市秋和1005-1

In [7]:
class MapTable(Base):
    __tablename__ = "maptable"  # テーブル名を指定
    __table_args__ = {"mysql_engine": "InnoDB"}
    parlar_map_id = Column('parlar_map_id',Integer, primary_key=True, autoincrement=True)
    prefecture = Column('都道府県',String(5))
    kintone_id = Column('kintone_id',String(10), nullable=True)
    shop_id = Column('shop_id',Integer, nullable=True)
    hallnavi_parlar_name = Column('ホールナビ店舗名',String(255))
    dmm_parlar_name = Column('DMM店舗名',String(255))
    anaslo_parlar_name = Column('アナスロ店舗名',String(255))
    latitude = Column('緯度',Float)
    longitude = Column('経度',Float)
    adress = Column('住所',String(255), nullable=True)
    created = Column("取得時間", DATETIME, default=datetime.datetime.now, nullable=False)

    def __init__(self):
        now = datetime.datetime.now()
        self.created = now

    def record_detail(self):  # フルネームを返すメソッド
        return f"{self.hallnavi_parlar_name} {self.prefecture} "

#Base.metadata.create_all(bind=engine)

In [8]:
convert_parlar_name_df

,都道府県,店舗kintone,shop_id,ホールナビ店舗名,DMM店舗名,アナスロ店舗名,緯度,経度,住所
2356,長野県,P12753,13185,Dステーション上田店,D’STATION上田店,Dステーション上田店,None,None,長野県上田市秋和1005-1

In [11]:
for i,row in convert_parlar_name_df.iterrows():
    maptable = MapTable()
    #print(i,row)
    maptable.prefecture = row['都道府県']
    maptable.kintone_id = row['店舗kintone']
    maptable.shop_id = row['shop_id']
    maptable.hallnavi_parlar_name = row['ホールナビ店舗名']
    maptable.dmm_parlar_name = row['DMM店舗名']
    maptable.anaslo_parlar_name = row['アナスロ店舗名']
    maptable.latitude = row['緯度']
    maptable.longitude = row['経度']
    maptable.adress = row['住所']
    session.add(maptable)
    session.commit()
    #break